<footer>
  <div uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 600" class="uk-section uk-section-muted uk-section-xsmall">
    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div class="uk-text-center uk-text-small">
          <p>Built with <span uk-icon="heart"></span> and <span uk-icon="uikit"></span><a class="uk-link-text" href="https://getuikit.com/" target="_blank"> UIKit</a> by me.<br>
            <span><a href="https://twitter.com/jpasholk" class="uk-icon-button" uk-icon="twitter" target="_blank"></a></span>
            <a href="https://github.com/jpasholk" class="uk-icon-button" uk-icon="github" target="_blank"></a></span>
          </p>
        </div>
      </div>
</footer>
