<header>
  <nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">
      <a href="{{"/" | relative_url}}" class="uk-navbar-item uk-logo">{{site.title}}</a>
    </div>

    <div class="uk-navbar-right uk-visible@s">
      <ul class="uk-navbar-nav">
        <li><a href="{{"/about" | relative_url }}">About</a></li>
        <li><a href="{{"/index.html#Projects" | relative_url}}">Projects</a></li>
        <li>
          <a href="{{"/blog" | relative_url}}">Blog</a>
          <div class="uk-navbar-dropdown uk-border-rounded uk-background-muted">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header"><a href="{{"/archive" | relative_url}}">Archives</a></li>
                    </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="uk-navbar-right uk-hidden@s">
      <ul class="uk-navbar-nav">
        <li>
          <a href="" uk-icon="icon: menu"></a>
          <div class="uk-navbar-dropdown uk-border-rounded uk-background-muted">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class="uk-nav-header"><a href="{{"/about" | relative_url }}">About</a></li>
              <li class="uk-nav-header"><a href="{{"/index.html#Projects" | relative_url}}">Projects</a></li>
              <li class="uk-nav-header"><a href="{{"/blog" | relative_url}}">Blog</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="{{"/archive" | relative_url}}">Archives</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

  </nav>
</header>
