<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{site.title}}</title>

  <link href="/img/avatar-icon.png" rel="shortcut icon">

  <link rel="stylesheet" href="{{ "/css/uikit.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">

  <script type="text/javascript" src="{{ "/js/uikit.min.js " | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/js/uikit-icons.min.js " | relative_url }}"></script>

</head>
