<div class="uk-navbar-item">
  <a class="uk-icon-button" uk-icon="icon: search" href="#modal-full" uk-toggle></a>
    <div id="modal-full" class="uk-modal-full uk-padding-xsmall" uk-modal>
        <div class="uk-modal-dialog">
            <div id="search-searchbar"> </div>
            <div class="uk-modal-body" uk-overflow-auto>
              <div id="search-hits" class="uk-section uk-padding-remove-top post-list">
              </div>
            </div>
            {% include algolia.html %}
        </div>
    </div>
</div>
