---
layout: default
---

<div class="uk-container-expand uk-animation-slide-top-small">
  <div id="blog" class="uk-section-default ">
    <div class="uk-section-large uk-light uk-background-fixed uk-background-cover uk-background-bottom-center" style="background-image: url(/img/howard-prairie.jpg)">
      <div class="intro-text uk-container">
        <h3 class="uk-heading-primary">My Story</h3>
      </div>
    </div>
  </div>
  <div class="uk-section uk-container uk-padding-large">
    <article class="uk-article">
      {{content}}
    </article>
  </div>
</div>
