---
layout: default
---

<div class="uk-container-expand uk-animation-slide-top-small">

  <div id="blog" class="uk-section-default ">
    <div class="uk-section-large uk-light uk-background-fixed" style="background-image: url(/img/backpack.jpg)">
      <div class="intro-text uk-container">

        <h2 class="uk-heading-primary">Welcome to my blog</h2>

      </div>
    </div>
  </div>

  <div class="uk-section uk-container">
    <article class="uk-article">
      {{content}}
    </article>
  </div>
</div>
